@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Kumbh Sans', sans-serif;
  --orange: hsl(26, 100%, 55%);
}

.fill-white path{
  fill: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-wrapper{
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  
}

.all-wrapper.block-screen::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100vw;
  opacity: 0.5;
  z-index: 20;
  background-color: black;
}

.ab-center{
  top:4rem;
  left: 4rem;
}


.img-modal{
  position: absolute;
  z-index: 99;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.change-btn{
  background-color: white; 
  cursor: pointer;
}

.change-btn svg:hover{
  fill: var(--orange);
}

.close-icon path{
  fill: hsl(0, 0%, 100%);
}

.close-icon:hover path{
  fill: var(--orange);
}

.item-count{
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.cart-detail{
  width: min(320px, 95%);
  height: 12.5rem;
  box-shadow: 0 0.5rem 0.9rem 0 hsl(220, 14%, 75%);
}
.cart-wrapper{
  margin: 0 0.5rem;
}

@media screen and (max-width: 786px) {
  nav.nav{
    justify-content: space-between;
  }

  .image-container{
    margin: 0;
  }
  .current-img{
    position: relative;
  }

  .img-thumbnails{
    display: none;
  }

  .current-img .prev-btn, .current-img .next-btn{
    display: block;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 0.7rem;
    background-color: white;
    margin: auto;
  }
  .prev-btn{
    left: 10px;
  }
  .current-img svg path{
    text-align: center;
  }

  .next-btn{
    right: 10px;
  }

  .current-img img{
    border-radius: 0;
  }

  .content-wrapper{
    flex-direction: column;
  }
  .prices{
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
  }
  
  .card-text-container{
    padding: 0.5rem 1rem;
  }

  .cart-detail{
    top: 5.6rem;
    right: 0.5rem;
  }

  .cart-purchase{
    flex-direction: column;
  }

  .add-cart, .item-count{
    width: 100%;
  }

  .add-cart{
    padding: 7px 0;
  }
}